<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finki.application.smartbin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".rest_services.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:background="@color/bg_login"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="SMART BIN"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="SMART BIN"/>
        <activity
            android:name=".UpdateAccountActivity"
            android:label="Update your account"/>

        <activity android:name=".BaseFirmActivity"
            android:label="Firms"/>

    </application>

</manifest>